parameters:
    level: 6
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/